SECRET_KEY=django-insecure--q_@h4e2(tq@a&2x23klle5&tegi(29o559l5$02v(a=p3_gy$
STRIPE_SECRET_KEY=sk_test_51TOCcq85B5ewcsD1PYWLnx6eaRymu1eLcZ2ScErigptMLqFyyshbPF07q7JLXgjh9i9DhYG8wVMe3wZkijfm4HJg00ey6Pm2yK
STRIPE_PUBLIC_KEY=pk_test_51TOCcq85B5ewcsD1fuMWsequzophF9wCVPqrP7Mb0Kak0IWPmL5FII68McNrx5ahwrdXJTIULL9EjXYlWH1o3yFJ00fzBUHB36